<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <title>株価ダウンロード</title>
</head>

<body>
    <h2>株価ダウンロードページ</h2>
    <p>
        東証に上場している株価をノンコードでダウンロードできます。
        研究の役に立てば幸いです。<br>
        銘柄の検索に必要な証券コード対応表は、[<a
            href="https://www.jpx.co.jp/markets/statistics-equities/misc/01.html">こちら</a>]からダウンロードしてください。
    </p>
    <form action="/result" method="post" enctype="multipart/form-data">
        <h3>証券コードを入力してください</h3>
        <input type="text" name="company_name" required>
        <h3>開始期間を選択してください</h3>
            <input type="date" name="start_date" required>
        <h3>終了期間を選択してください</h3>
            <input type="date" name="end_date" required>
        <h3>必要な情報をチェックしてください</h3>
        <label>
            <input type="checkbox" name="need_data" value="open_value">始値
        </label>
        <label>
            <input type="checkbox" name="need_data" value="max_value">最高値
        </label>
        <label>
            <input type="checkbox" name="need_data" value="min_value">最安値
        </label>
        <label>
            <input type="checkbox" name="need_data" value="close_value">終値（調整前）
        </label>
        <label>
            <input type="checkbox" name="need_data" value="volume">取引金額
        </label>
        <label>
            <input type="checkbox" name="need_data" value="adj_close_value">終値（調整後）
        </label>
        <input type="submit" value="開始する">
    </form>
</body>

</html>